DATABASE_URL=jdbc:postgresql://dpg-d90j93gg4nts73f812g0-a.frankfurt-postgres.render.com/rentnest_9rha?sslmode=require
DATABASE_USERNAME=rentnest_9rha_user
DATABASE_PASSWORD=Vye9J2i0CsBdKAjV58JD9nl9eD7COGMQ
JWT_SECRET=rentnest_super_secure_jwt_secret_key_change_later_2026_very_long
JWT_EXPIRATION=86400000
FRONTEND_URL=https://rentnest-property-rental-system.vercel.app/